/*GENERALES*/

*{
}

body{
background-image: url("../imgs/fondo.jpg");
background-size: 100%;
}

input[type=range]{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 50px;
    height: 400px;
    margin-left: 35px;
    margin-right: 35px;
    outline: none;
    background:transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    background-image: linear-gradient(rgb(161, 3, 3), rgb(128, 90, 90), grey, rgb(59, 59, 59));
    border-radius: 3px;
}

/*NO VA ??XD*/
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
}

.tecla{
    width: 50px;
    height: 50px;
    margin-left: 35px;
    margin-right: 35px;
    border:1px solid black;
    border-radius: 5px;

    text-align: center;
    line-height: 50px;
    margin-top:17px;

    background-color: rgb(182, 182, 182);
    border-right: 2px rgb(87, 87, 87) solid;
    border-bottom: 2px rgb(87, 87, 87) solid;
}

.lucesMotor1 img{
    width: 50px;
    margin-left: 36px;
    margin-right: 36px;

    margin-bottom: 10px;
}

.lucesMotor2 img{
    width: 50px;
    margin-left: 36px;
    margin-right: 36px;

    margin-bottom: 10px;
}

/*HEADER*/

header{
    display: flex;
    justify-content: space-between;
}

#logo{
    align-self: center;

    width: 100px;
}

#nombre{
    align-self: center;
    border-radius: 30px;

    width: 400px;
    height: 5%;

    padding: 25px;
}

#iconoPersonas{
    align-self: center;
    opacity: 0;
    font-size: 60px;
    margin-right: 2%;

}

/*MAIN*/

main{
    margin-top: 2.5vw;
    display: flex;
    justify-content: space-around;
}

.motor1General{
    width: 300px;
    height: 680px;

    padding: 20px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;

    background-image: url("../imgs/fondoMotor.jpg");
    border: 3px solid rgb(77, 77, 77);
}

#motor1Titulo{
    align-self: center;
    opacity: 0.8;

}

.lucesMotor1{
    display: flex;

    width: auto;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.slidersMotor1{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.teclasMotor1{
    display: flex;

    width: auto;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.motor2General{
    width: 300px;
    height: 680px;

    padding: 20px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;

    background-image: url("../imgs/fondoMotor.jpg");
    border: 3px solid rgb(77, 77, 77);
}

#motor2Titulo{
    align-self: center;
    opacity: 0.8;
}

.lucesMotor2{
    display: flex;

    width: auto;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.slidersMotor2{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.teclasMotor2{
    display: flex;

    width: auto;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.camGeneral{
    width: 900px;
    height: 600px;
    background-color: black;
    border: 5px solid rgb(77, 77, 77);
    border-radius: 5px;
}

#live{
    position:absolute;
    margin-left: 840px;
    margin-top: 10px;
    width: 50px;
}

/*FOOTER*/
footer{
    width: 900px;
    background-image: url("../imgs/fondoMotor.jpg");
    border: 3px solid rgb(77, 77, 77);
    display: flex;
    position:absolute;
    border-radius: 30px;

    margin-left: 910px;
    margin-top: -50px;

    justify-content: center;

}

img{
    width: 150px;
}

#flechaIzq{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

