<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <div>    
        <a href="/motor1/on"><button>Possar en marxa el motor 1</button><br></a>
        <a href="/motor1/off"><button>Parar motor 1</button><br></a>
    </div>
    <div>    
        <a href="/motor2/on"><button>Possar en marxa el motor 2</button><br></a>
        <a href="/motor2/off"><button>Parar motor 2</button><br></a>
    </div>

    <div>
        <h2>Controlador de la matriu</h2><br>
        <form>
            <select name="cella">Selecciona la cel·la
                <option value="1">Cel·la 1</option>
                <option value="2">Cel·la 2</option>
                <option value="3">Cel·la 3</option>
                <option value="4">Cel·la 4</option>
                <option value="5">Cel·la 5</option>
                <option value="6">Cel·la 6</option>
                <option value="7">Cel·la 7</option>
                <option value="8">Cel·la 8</option>
                <option value="9">Cel·la 8</option>
            </select>
            <select name="">
                <option value="groc">Groc</option>
                <option value="vermell">Vermell</option>
                <option value="blau">Blau</option>
                <option value="verd">Verd</option>
            </select>
        </form>

    </div>

    
</body>
</html>