<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <div>    
        <a href="/motor1/on"><button>Cap endavant motor 1</button><br></a>
        <a href="/motor1/off"><button>Cap enrere motor 1</button><br></a>
    </div>
    <div>    
        <a href="/motor2/on"><button>Cap endavant motor 2</button><br></a>
        <a href="/motor2/off"><button>Cap enrere motor 2</button><br></a>
    </div>

    <div>
        <h2>Controlador de la matriu</h2><br>
        <form action="/matriu" method="POST">
            <!--<select name="cella">Selecciona la cel·la
                <option value="0,0">Cel·la 1</option>
                <option value="0,1">Cel·la 2</option>
                <option value="0,2">Cel·la 3</option>
                <option value="1,0">Cel·la 4</option>
                <option value="1,1">Cel·la 5</option>
                <option value="1,2">Cel·la 6</option>
                <option value="2,0">Cel·la 7</option>
                <option value="2,1">Cel·la 8</option>
                <option value="2,2">Cel·la 8</option>
            </select>-->
            <select name="color">
                <option value="yellow">Groc</option>
                <option value="red">Vermell</option>
                <option value="blue">Blau</option>
                <option value="green">Verd</option>
            </select>
            <button type="submit">Posa la llum</button>
        </form>

    </div>

    
</body>
</html>